
RewriteEngine On

# Prevent any (accidental) access to .git folder/files

RedirectMatch 404 /\.git.*


# Redirect fgb-rdm.nl/rdm to fgb-rdm.nl

Redirect https://fgb-rdm.nl/rdm/ https://fgb-rdm.nl/

# Redirect wmo insurance form found on fgb-rdm.nl to fgbto3-web.labs.vu.nl

Redirect https://fgb-rdm.nl/wmo-insurance/ https://fgbto3-web.labs.vu.nl/rdm/wmo-insurance/
