
# Prevent any (accidental) access to .git folder/files

RedirectMatch 404 /\.git.*


# Redirect fgb-rdm.nl/rdm to fgb-rdm.nl

Redirect 301 "rdm/" "https://fgb-rdm.nl/"

# Redirect wmo insurance form found on fgb-rdm.nl to fgbto3-web.labs.vu.nl

Redirect 301 "/wmo-insurance/" "https://fgbto3-web.labs.vu.nl/rdm/wmo-insurance/"
